* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

.box {
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(134, 124, 124);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  outline: 1px solid rgb(134, 124, 124);
  width: 800px;
  height: 800px;
}

.draggable {
  width: 55px;
  height: 55px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.dropZone {
  width: 75px;
  height: 75px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.white {
  color: white;
}

.black {
  color: black;
}

.movable {
  background-color: rgba(146, 250, 90, 0.79) !important;
}

.enemy {
  background-color: rgba(246, 12, 12, 0.765) !important;
}
